.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.center-self {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.mh-100 {
  max-height: 100%;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%;
}

.h-31 {
  height: 31px;
}
.h-103 {
  height: 103px;
}
.mh112 {
  max-height: 112px;
}

.mh-330 {
  max-height: 330px;
}

$width: 140 142;
$max-width: 102 150 170 282 320 445;

@mixin width {
  @each $i in $width {
    .w#{$i} {
      width: #{$i}px;
    }
  }
  @each $i in $max-width {
    .mw#{$i} {
      max-width: #{$i}px;
    }
  }
}

@include width;