<template>
  <div class="header_basket mt20 px20 mw170 w-100 end-xs relative middle-xs flex third-xs">
    <img src="/assets/basket.png">
    <div>
      <span class="ml10 bebas-neue fs33 lh33 weight-700 cl-light-gray">$300</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';

@media screen and (max-width: 768px) {
  .header_basket {
    order: 1;
  }
}
</style>

// cl-light-gray цвет текста
// bg-cl-secondary цвет background
