<template>
  <div class="mw-100 bg-cl-more-light-green">
    <div class="container1">
      <ul class="header_navigation flex fw">
        <li v-for="(item, idx) in items" :key="idx" class="mw102 w-100 py3 center-xs relative">
          <a href="#" class="bebas-neue cl-white fs21 lh21">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderBottom',
  data: function () {
    return {
      items: [
        {
          title: 'Home',
          link: '#'
        },
        {
          title: 'Sale',
          link: '#'
        },
        {
          title: 'Handbags',
          link: '#'
        },
        {
          title: 'Wallets',
          link: '#'
        },
        {
          title: 'Accessories',
          link: '#'
        },
        {
          title: 'Mens Store',
          link: '#'
        },
        {
          title: 'Shoes',
          link: '#'
        },
        {
          title: 'Vintage',
          link: '#'
        },
        {
          title: 'Services',
          link: '#'
        },
        {
          title: 'Contact us',
          link: '#'
        }
      ]
    }
  }
}
</script>

<style lang='scss' scoped>
.header_navigation {
  white-space: nowrap;
}
.header_navigation a:hover {
  border-bottom: 1px solid #fff;
}
.header_navigation li:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .header_navigation {
    max-width: 510px;
    margin: 0 auto;
  }
  .header_navigation li::after {
    content: '';
    width: 1px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 0;
  }
  .header_navigation a:hover {
    border-bottom: 0px solid #fff;
  }
}
</style>
