<template>
  <div class="header__top">
    <div class="container1">
      <div class="flex fw between-xs mb20 middle-xs">
        <div class="mw150 m145 mt20 px20 last-xs">
          <logo />
        </div>
        <div class="mw445 w-100 mt20 relative second-xs">
          <img src="/assets/search.png" class="absolute w23 h23">
          <SearchIcon />
        </div>
        <basket-icon />
      </div>
    </div>
  </div>
</template>

<script>
import BasketIcon from 'theme/components/core/blocks/Header/BasketIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import Logo from 'theme/components/core/Logo'

export default {
  name: 'HeaderTop',
  components: {
    BasketIcon,
    Logo,
    SearchIcon
  }
}
</script>

<style lang="scss" scoped>
/* ==================================== */
.header {
  background-color: #ffffff;
}
img{
  top: 5px;
  right: 10px;
}
</style>
