<template>
  <!-- <button
    type="button"
    :aria-label="$t('Open search panel')"
    class="bg-cl-transparent brdr-none inline-flex"
    @click="toggleSearchpanel"
    data-testid="openSearchPanel"
  >
    <i class="material-icons">search</i>
  </button> -->
  <input type="text" class="w-100 h-31 py0 pr35 pl10 border-box">
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'

export default {
  mixins: [SearchIcon]
}
</script>

<style lang="scss" scoped>
input{
  border: 1px solid #e1e1e1;
}
</style>
