<template>
  <!-- <router-link :to="localizedRoute('/')" :title="$t('Home Page')" class="no-underline inline-flex">
    <img
      :width="width"
      :height="height"
      src="/assets/logo.svg"
      alt="Vuestore logo"
    >
  </router-link> -->
  <a href="#" class="h1 lh49 cl-light-green lobster">Aditii</a>
</template>

<script>
export default {
  // props: {
  //   width: {
  //     type: [String, Number],
  //     required: true
  //   },
  //   height: {
  //     type: [String, Number],
  //     required: true
  //   }
  // }
}
</script>
