<template>
  <section class="second-slider w-100 flex">
    <no-ssr>
      <carousel :navigation-enabled="true" :pagination-enabled="false" :loop="true" :autoplay="true" :autoplay-timeout="3000" :per-page-custom="[[320, 1], [450, 2], [768, 3]]" class="container1">
        <slide v-for="(slide, index) in slides" :key="index" class="second-slider__item flex pt28 pr65 pb22 pl24 middle-xs relative m-0-auto">
          <div class="second-slider__photo flex middle-xs w-100"><img :src="slide.img" alt=""></div>
          <div class="second-slider__discribe w-100 h-103">
            <div class="second-slider__discribe-title fs27 lh25 cl-light-grey bebas-neue uppercase font-weight-b mb20 ">{{ slide.title }}</div>
            <a class="default_btn bg-cl-light-green cl-white uppercase bebas-neue fs19" href="#">{{ slide.nameButton }}</a>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
// import { mapGetters, mapActions } from 'vuex'
import NoSSR from 'vue-no-ssr'
export default {
  name: 'PromotedOffers',
  data () {
    return {
      slides: [
        {
          title: 'bRANDED sHOES',
          img: 'assets/item1.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED tSHIRTS',
          img: 'assets/item2.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED sHOES',
          img: 'assets/item3.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED sHOES',
          img: 'assets/item1.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED tSHIRTS',
          img: 'assets/item2.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED sHOES',
          img: 'assets/item3.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED sHOES',
          img: 'assets/item1.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED tSHIRTS',
          img: 'assets/item2.png',
          nameButton: 'shop'
        },
        {
          title: 'bRANDED sHOES',
          img: 'assets/item3.png',
          nameButton: 'shop'
        }
      ]
    }
  },
  // props: {
  //   singleBanner: {
  //     type: Boolean,
  //     required: false,
  //     default: false
  //   }
  // },
  // computed: {
  //   ...mapGetters({
  //     banners: 'promoted/getPromotedOffers'
  //   })
  // },
  components: {
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  }
  // async created () {
  //   await this.updatePromotedOffers()
  // },
  // methods: {
  //   ...mapActions({
  //     updatePromotedOffers: 'promoted/updatePromotedOffers'
  //   })
  // }
}
</script>

<style lang="scss" scoped>
.second-slider__item{
    max-width: 33%;
    min-width: 280px;
}
.second-slider__item:not(:last-child):after{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #e7e7e7;
    position: absolute;
    right: 0;
    top:0;
}
.second-slider__photo{
    max-width: 173px;
    min-width: 173px;
    height: 132px;
}
.second-slider__photo img{
    display: block;
    margin:0 auto;
    max-width: 100%;
    max-height: 100%;
}
.default_btn{
    padding: 3px 14px;
    padding-top: 6px;
    border-radius: 5px;
}
.left__button,
.right__button{
    max-width: 128px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
// .left__button::before,
// .left__button::after,
// .right__button::before,
// .right__button::after{
//     content: '';
//     width: 45px;
//     height: 1px;
//     background-color: #e5e5e5;
//     position: absolute;
// }
// .left__button::before{
//     top: 63px;
//     right: 67px;
//     transform: rotate(-60deg);
// }
// .left__button::after{
//     top: 102px;
//     right: 67px;
//     transform: rotate(60deg);
// }
// .right__button::before{
//     top: 63px;
//     left: 67px;
//     transform: rotate(60deg);
// }
// .right__button::after{
//     top: 102px;
//     left: 67px;
//     transform: rotate(-60deg);
// }
@media (max-width: 768px) {
  .second-slider__item{
    max-width: 50%;
  }
}
@media (max-width: 450px) {
  .second-slider__item{
    max-width: 100%;
  }
}
</style>
