<template>
  <section class="main-slider w-100 bg-cl-second-light-green cl-white">
    <no-ssr>
      <carousel :per-page="1" pagination-active-color="#8e8e8e" pagination-color="#ffffff">
        <slide v-for="(slide, index) in slides" :key="index">
          <div class="slider mw-100 h-100 bg-cl-second-light-green">
            <div class="container1">
              <div class="flex between-xs fw pt62 px70 pb30">
                <div class="slider__photo">  <!--mw282 w-100 m-0-auto mb20  middle-xs mh-330 -->
                  <img class="" :src="slide.img"> <!--//block mw-100 mh-100 m-0-auto-->
                </div>
                <div class="flex col column w-100 mw320 m-0-auto">
                  <div class="title w-100 fs61 lh54 cl-white bebas-neue mb20">{{ slide.title }}</div>
                  <div class="text fs17 lh28 cl-white openSans mb26 mh112">{{ slide.discription }}</div>
                  <input class="button w140 brdr-light-corner bg-cl-transparent cl-white bebas-neue fs27" type="submit" value="Shop now">
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
// import sliderData from 'theme/resource/slider.json'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  data () {
    return {
      currentSlide: 1,
      slides: [
        {
          title: 'Cowhide Standard Crew',
          discription: 'White coloured, short-sleeved, printed T-shirt for men by Levi"s. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.',
          img: 'assets/main-t-shirt.png'
        },
        {
          title: 'Cowhide Standard Crew2',
          discription: 'White coloured, short-sleeved, printed T-shirt for men by Levi"s. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.',
          img: 'assets/collection.jpg'
        },
        {
          title: 'Cowhide Standard Crew3',
          discription: 'White coloured, short-sleeved, printed T-shirt for men by Levi"s. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.',
          img: 'assets/futureItem2.png'
        }
      ],
      totalSlides: 3
    }
  },
  components: {
    ButtonOutline,
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  }
  // methods: {
  //   updateSliderData (data) {
  //     this.slides = data.slides
  //     this.totalSlides = data.total
  //   }
  // },
  // mounted () {
  //   setInterval(() => {
  //     this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
  //   }, 5000)
  // }
  // created () {
  //   this.updateSliderData(sliderData)
  // }
}
// import ButtonOutline from 'theme/components/theme/ButtonOutline'
// import { mapGetters } from 'vuex'

// export default {
//   components: {
//     ButtonOutline
//   },
//   data () {
//     return {}
//   },
//   computed: {
//     ...mapGetters({
//       currentImage: 'promoted/getHeadImage'
//     })
//   }
// }
</script>

 <style lang="scss" scoped>
 @import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
.slider{
    box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.slider__photo{
    width: 100%;
    max-width: 282px;
    min-width: 195px;
    overflow: hidden;
    max-height: 330px;
    height: 100%;
    min-height: 330px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.slider__photo img{
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  filter: drop-shadow(0 3px 3px #000);
}

.title{
  font-weight: bold;
}
.text{
  overflow: hidden;
}
.button{
  border: 3px solid #fff;
  font-size: 27px;
}
</style>
